@font-face {
    font-family: font_header;
    src: url("../font/2005_iannnnnGMO.ttf");
}

@font-face{
	font-family: font_welcome;
	src : url("../font/MadameCosmetics.ttf");
}

body {
	font-family: font_header;
	overflow-x: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a{
	text-decoration: none !important;
}

.header{
	font-family: font_header;
	display: flex;
	flex-direction: row;
	background: transparent;
	position: fixed;
	width: 100vw;
	z-index: 51;
}

.tab_menu1{
	flex-grow: 3;
	margin: 5;
	height: 60px;
	background: crimson;
}

.tab_menu2{
	flex-grow: 2;
	margin: 5;
	width: 20px;
	height: 20px;
	background: black;
}

.menu_list{
	display: flex;
	flex-direction: row;
	margin: 0;
	height: 60px;
}

.menu_button{
	flex-grow: 1;
	height: 60px;
	color: white;
	font-size: 3vh;
	text-align: center;
	line-height: 60px;
	padding: 0;
	width: 10vw;
}
.menu_button:hover{
	background: white;
	color: crimson;
}

.welcome_page{
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background-color: yellow;
}

.second_page{
	font-family: font_header;
	width: 100vw;
	height: 75vh;
	background-color: crimson;

	color: black;
	font-size: 3em;

	display: flex;
	flex-direction: column;
}

.second_page_head{
	background: crimson;
	flex-grow: 1;
	margin: 0;
	padding-left: 3vh;
	padding-top: 2vh;
}
.second_page_body{
	background: crimson;
	flex-grow: 100;
	margin: 0;
}

.third_page{
	font-family: font_header;
	width: 100vw;
	height: 75vh;
	background-color: black;

	color: crimson;
	font-size: 3em;

	display: flex;
	flex-direction: column;
}

.third_page_head{
	background: black;
	flex-grow: 1;
	margin: 0;
	padding-left: 3vh;
	padding-top: 2vh;
}
.third_page_body{
	background: black;
	flex-grow: 100;
	margin: 0;
}


.aboutus_page{
	font-family: font_header;
	width: 100vw;
	height: 40vh;
	background-color: crimson;

	color: white;
	font-size: 3em;

	padding-top: 1vh;
	padding-left: 1vw;
	display: flex;
	flex-direction: column;
}

#background_video{
	min-width: 100%;
	min-height: 100%;
	z-index: -100;

}

.welcome_text{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 210%;
	display: block;
	position: absolute;
	z-index: 50;
	font-family: font_welcome;
	font-size: 15vh;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
}

.welcome_text p{
	margin-top: 20vh;
}

@media only screen and (max-width: 1200px){
	.welcome_text{
		font-size: 5em;
	}
}

.collection{
	background: red;
}

.squar_card{
	display: inline-block;
	margin: 10px;
	background: yellow;
	height: 50vh;
	width: 50vh;
}