@font-face {
    font-family: font_header;
    src: url("../font/2005_iannnnnGMO.ttf");
}

@font-face{
	font-family: font_welcome;
	src : url("../font/MadameCosmetics.ttf");
}

body {
	font-family: font_header;
	overflow-x: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a{
	text-decoration: none !important;
}

.header{
	font-family: font_header;
	display: flex;
	flex-direction: row;
	background: transparent;
	position: fixed;
	width: 100vw;
	z-index: 51;
}

.tab_menu1{
	flex-grow: 3;
	margin: 5;
	height: 60px;
	background: crimson;
}

.tab_menu2{
	flex-grow: 2;
	margin: 5;
	width: 20px;
	height: 20px;
	background: black;
}

.menu_list{
	display: flex;
	flex-direction: row;
	margin: 0;
	height: 60px;
}

.menu_button{
	flex-grow: 1;
	height: 60px;
	color: white;
	font-size: 3vh;
	text-align: center;
	line-height: 60px;
	padding: 0;
	width: 10vw;
}
.menu_button:hover{
	background: white;
	color: crimson;
}

.welcome_page{
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background-color: yellow;
}

.second_page{
	font-family: font_header;
	width: 100vw;
	min-height: 75vh;
	background-color: #F2AD9F;
	padding-bottom: 30px;

	color: black;
	font-size: 3em;

	display: flex;
	flex-direction: column;
}

.second_page_head{
	flex-grow: 1;
	margin: 0;
	padding-left: 3vh;
	padding-top: 2vh;
}
.second_page_body{
	flex-grow: 100;
	margin: 0;
}

.third_page{
	font-family: font_header;
	width: 100vw;
	min-height: 75vh;
	background-color: #DFE2D2;

	color: #ff9966;
	font-size: 3em;

	display: flex;
	flex-direction: column;
}

.third_page_head{
	flex-grow: 1;
	margin: 0;
	padding-left: 3vh;
	padding-top: 2vh;
}
.third_page_body{
	flex-grow: 100;
	margin: 0;
}


.aboutus_page{
	font-family: font_header;
	width: 100vw;
	height: 40vh;
	background-color: crimson;

	color: white;
	font-size: 3em;

	padding-top: 1vh;
	padding-left: 1vw;
	display: flex;
	flex-direction: column;
}

#background_video{
	min-width: 100%;
	min-height: 100%;
	z-index: -100;

}

.welcome_text{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 210%;
	display: block;
	position: absolute;
	z-index: 50;
	font-family: font_welcome;
	font-size: 15vh;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
}

.welcome_text p{
	margin-top: 20vh;
}

@media only screen and (max-width: 1200px){
	.welcome_text{
		font-size: 5em;
	}
}

.collection{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-left: 100px;
	padding-right: 100px;
}


.sqc_tour{
	background: #F26968	;
}
.sqc_hostel{
	background: #6CBF84	;
}

.squar_card{
	
	margin: 20px;
	min-height: 400px;
	width:400px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 7px;
}

.pic_card{
	flex-grow: 1;
	width: 100%;
}

.text_card{
	flex-grow: 1;
	text-align: center;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}