@font-face {
    font-family: font_header;
    src: url("./font/JustAliceDemo.ttf");
}

body{
	overflow-x: hidden;;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.header{
	position: fixed;
	background-color: black;
	width: 100vw;
	z-index: 100;
}
.menu{
	width: 50vw;
	height: 6vh;
	background-color: crimson;
	padding: 30px 5px 5px 30px;
	margin: 0 0 0 0;
	font-family: font_header;
	font-size: 3em;
	color: white;
	display: inline-block;
}
.menu_button{
	margin: 0 0 0 0;
	padding: 30px 5px 5px 30px;
	min-width: 10vw;
	min-height: 6vh;
	background-color: black;
	font-family: font_header;
	font-size: 3em;
	color: white;
	display: inline-block;
	text-align: center;
}
.menu_button:hover{
	background-color: white;
	color: crimson;
}

.welcome_page{
	height: 110.9vh;
	width: 100vw;
	background-color: yellow;
}

.second_page{
	width: 100vw;
	height: 100vh;
	background-color: navy;

	color: white;
	font-size: 3em;

	padding-top: 1vh;
	padding-left: 1vw;
}

.third_page{
	width: 100vw;
	height: 100vh;
	background-color: yellow;

	color: white;
	font-size: 3em;

	padding-top: 1vh;
	padding-left: 1vw;
}

.aboutus_page{
	width: 100vw;
	height: 50vh;
	background-color: violet;

	color: white;
	font-size: 3em;

	padding-top: 1vh;
	padding-left: 1vw;
}

#background_video{
	min-width: 100vw;
	min-height: 100vh;
	z-index: -100;
}