@font-face {
    font-family: font1;
    src: url("./font/JustAliceDemo.ttf");
}

body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.menu{
	width: 100vw;
	height: 7vh;
	background-color: crimson;
	margin: 0 0 0 0;
	padding: 20px 5px 5px 30px;
	font-family: font1;
	font-weight: bold;
	font-size: 3em;
	color: white;
}