@font-face {
    font-family: font_header;
    src: url("./font/JustAliceDemo.ttf");
}

body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.header{
	width: 100vw;
	height: 7vh;
	background-color: crimson;
	margin: 0 0 0 0;
	padding: 20px 5px 5px 30px;
}
.menu{
	width: 50vw;
	height: 7vh;
	background-color: crimson;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: font_header;
	font-size: 3em;
	color: white;
	display: inline-block;
}
.menu_button
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 40vw;
	height: 7vh;
	background-color: black;
	font-family: font_header;
	font-size: 3em;
	color: white;
	display: inline-block;

}